{% extends 'base.html.twig' %}

{% block body %}
    <style rel="stylesheet" link="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css"></style>
    <div id="wrapper">
        <div id="container">
            <h1>Formulaire de contact !</h1>

{{ form(form) }}

            <a href="{{ path('homepage') }}">Home</a>

        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
<script>
    $(document).ready(function() {
        // configure the bootstrap datepicker
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>
{% endblock %}